*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 15px;
}

body {
	margin: 0;
	--color-text: white;
	--color-bg: rgb(242, 231, 231);
	--color-1: rgb(0, 0, 0);
	--color-2: rgb(241, 241, 241);
	--color-link: white;
	--color-link-hover: white;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.centertext {
	text-align: center;
	line-height: normal;
	/*make it seperate from video in another column*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*give text some padding all around*/

	padding: 10px;




}


/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-1);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	border-bottom: 1px dashed var(--color-2);
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
	border-bottom: 1px solid white;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: 500;
}

.frame__links {
	display: inline;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-text);
}

.content {
	width: 100%;
	height: calc(100vh - 13rem);
}

@media screen and (min-width: 53em) {
	.modal-wrap {
		width: calc(100% - 40px);
		padding-bottom: 15px;
	}

	.modal-wrap p {
		padding: 15px 20px 0 20px;
	}

	.frame {
		position: fixed;
		text-align: left;
		z-index: 100;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 1.75rem;
		pointer-events: none;
		grid-template-columns: 66% 34%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title links'
			'... ...'
			'... demos';
	}

	.frame__title-wrap {
		align-self: center;
		grid-area: title;
		display: flex;
	}

	.frame__title {
		margin: 0;
	}

	.frame__tagline {
		position: relative;
		margin: 0 0 0 1rem;
		padding: 0 0 0 1rem;
		opacity: 0.5;
	}

	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: end;
	}

	.frame__links {
		grid-area: links;
		padding: 0;
		justify-self: end;
	}

	.frame a {
		pointer-events: auto;
	}

	.content {
		height: 100vh;
	}
}

video {
	width: 25vw;
	display: relative;
	--g: #000, #0000 1deg 219deg, #000 220deg;
	--mask:
		conic-gradient(from -155deg at top 4vw left 4vw, var(--g)) 0 0 /51% 100% no-repeat,
		conic-gradient(from 25deg at bottom 4vw right 4vw, var(--g)) 100% 100%/51% 100% no-repeat;
	-webkit-mask: var(--mask);
	mask: var(--mask);



}

ul {
	font-size: 2vw;
	max-width: 30%;
	max-height: auto;

}


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.modal-btn:checked+label,
.modal-btn:not(:checked)+label {
	position: relative;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 2;
	height: 50px;
	transition: all 200ms linear;
	border-radius: 4px;
	width: 240px;
	letter-spacing: 1px;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	text-align: center;
	-ms-flex-item-align: center;
	align-self: center;
	border: none;
	cursor: pointer;
	background-color: #102770;
	color: #ffeba7;
	box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25);
}

.modal-btn:not(:checked)+label:hover {
	background-color: #ffeba7;
	color: #102770;
}

.modal-btn:checked+label .uil,
.modal-btn:not(:checked)+label .uil {
	margin-left: 10px;
	font-size: 18px;
}

.modal-btn:checked+label:after,
.modal-btn:not(:checked)+label:after {
	position: fixed;
	top: 30px;
	right: 30px;
	z-index: 110;
	width: 40px;
	border-radius: 3px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	background-color: #ffeba7;
	color: #102770;
	font-family: 'unicons';
	content: '\eac6';
	box-shadow: 0 12px 25px 0 rgba(16, 39, 112, .25);
	transition: all 200ms linear;
	opacity: 0;
	pointer-events: none;
	transform: translateY(20px);
}

.modal-btn:checked+label:hover:after,
.modal-btn:not(:checked)+label:hover:after {
	background-color: #102770;
	color: #ffeba7;
}

.modal-btn:checked+label:after {
	transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
	opacity: 1;
	pointer-events: auto;
	transform: translateY(0);
}

.modal {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	overflow-x: hidden;
	background-color: rgba(31, 32, 41, .75);
	pointer-events: none;
	opacity: 0;
	transition: opacity 250ms 700ms ease;
}

.modal-btn:checked~.modal {
	pointer-events: auto;
	opacity: 1;
	transition: all 300ms ease-in-out;
}

.modal-wrap {
	position: relative ;
	display: block;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 4px;
	overflow: hidden;
	padding-bottom: 20px;
	background-color: rgb(78, 39, 39);
	-ms-flex-item-align: center;
	align-self: center;
	box-shadow: 0 12px 25px 0 rgba(199, 175, 189, .25);
	opacity: 0;
	transform: scale(0.6);
	transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}

.modal-wrap img {
	display: block;
	width: 100%;
	height: auto;
}

.modal-wrap p {
	padding: 20px 30px 0 30px;
}

.modal-btn:checked~.modal .modal-wrap {
	opacity: 1;
	transform: scale(1);
	transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}

.modal-btn:checked~.logo img {
	filter: brightness(100%);
	transition: all 250ms linear;
}


